# --- For-Bot-Working --------- #
pymongo==3.12.1
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo==3.12.1
motor==2.5.1
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
